* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form1 {
    font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
}

form {
    min-width: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px 3px lightskyblue;
    border-radius: 5px;
}

h2 {
    text-align: center;
}
